{% extends 'main/layout.html' %} {% block body %}
<section>
    <h1 class="text-start">Dashboard</h1>
    <div class="input-group rounded">
    <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
    />
    <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
    </span>
    </div>
</section>
<br>
<section>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
            <th scope="col">Owner</th>
            <th scope="col">Date Modify</th>
            <th scope="col">Date Upload</th>
            <th scope="col">Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">1/1/1</td>
            <td>
                <a href="#">แยกรินคำ</a>
            </td>
            <td>
                <a href="https://maps.google.com?daddr=18.801372312704572,98.96787433929524&z=13" target="_blank">XXX, XXX</a>
            </td>
            <td>Processing</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td>Done</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
    {% endblock %}
