{% extends 'main/layout.html' %} {% block body %}
<section>
    <h1 class="text-start">My Task</h1>
    <button id="create-button" class="btn btn-success btn-create" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >New Task</button>

    <div class="input-group rounded">
    <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
    />
    <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
    </span>
    </div>
</section>
<br>
<section>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">JobID</th>
            <th scope="col">Name</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longtitude</th>
            <th scope="col">Status</th>
            <th scope="col">Date Modify</th>
            <th scope="col">Date Upload</th>
            <th scope="col">Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for jobtask in jobtasks %}
                    <tr>
                        <td scope="row">{{ jobtask.jobId }}</td>
                        <td>{{ jobtask.uid.username }}</td>
                        <td>{{ jobtask.latitude }}</td>
                        <td>{{ jobtask.longtitude }}</td>
                        <td>{{ jobtask.status }}</td>
                        <td>{{ jobtask.updatedAt }}</td>
                        <td>{{ jobtaskx.createdAt }}</td>
                        <td>
                            <a class="btn btn-warning" href="/edit" role="button">Edit</a>
                            <a class="btn btn-danger" href="#" role="button">Delete</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create New Task</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form  action="/dropzone-files" class="form-data" name="form-data" id="form-data" method="POST">
                    {% csrf_token %}
                    {% comment %} 
                    <form action="/dropzone-files" id="DidDropzone" class="dropzone dz-modal mb-2" accept-charset="UTF-8" method="POST">
                        {% csrf_token %}
                        <h3 class="dz-message">Click Here or Drop Files</h3>
                    </form> 
                    {% endcomment %}
                    <div class="mb-3 col-6 select-modal">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input name="file" class="form-control" type="file" id="formFile">
                    </div>
                    <div class="select-modal col-6">
                        <label class="mr-sm-2" for="newtask-select">Preference</label>
                        <select class="custom-select mr-sm-4" id="newtask-select" onchange="showForm(this)">
                            <option selected>Preset</option>
                            <option value="form-newtask">New Information</option>
                        </select>
                    </div>
                    <div class="modal-body p-4 mt-4 form-modal form-newtask" id="form-newtask" style="display:none">
                        <label class="mr-sm-2" for="newtask-select">Information</label>
                        <div class="input-group mb-2 ml-0 col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Name</div>
                            </div>
                            <input name="fname" type="text" id="fname" class="form-control" />
                        </div>
                        <div class="input-group mb-2 ml-0 col-12">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Latitude</div>
                            </div>
                            <input name="latitude" type="text" id="latitude" class="form-control" />
                            <div class="input-group-prepend ml-2">
                                <div class="input-group-text">Longtitude</div>
                            </div>
                            <input name="longtitude" type="text" id="longtitude" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="form-data" class="btn btn-success">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
