{% extends 'main/layout.html' %} {% block body %}
<section>
    <h1 class="text-start">Location Name : {{ jobtask.locationName}}</h1>
    <button id="create-button" class="btn btn-success btn-create" data-toggle="modal" data-target="#exampleModalCenter" >New Loop</button>
</section>
<br>
{% load static %}
<video class="video-edit" width="100%"  controls>
    <source src="/media/video2.ogg" type="video/ogg">
    <source src="/media/video2.mp4" type="video/mp4">
</video>
<div class="table-edit ml-3">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Loop No.</th>
            <th scope="col">Loop Name</th>
            <th scope="col">Edit/Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">1</td>
            <td>
                ถนนรอง ซ้ายไปขวา
            </td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>บนล่าง</td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td>
                <a class="btn btn-warning" href="#" role="button">Edit</a>
                <a class="btn btn-danger" href="#" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create New Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% comment %}
            <div class="modal-body">
                <form action="{% url 'dropzone-files' %}" id="DidDropzone" class="dropzone dz-modal mb-2" accept-charset="UTF-8" method="POST">
                    {% csrf_token %}
                    <h3 class="dz-message">Click Here or Drop Files</h3>
                </form>
                <div class="select-modal col-6">
                    <label class="mr-sm-2" for="newtask-select">Preference</label>
                    <select class="custom-select mr-sm-4" id="newtask-select" onchange="showForm(this)">
                    <option selected>Preset</option>
                    <option value="form_1">New Information</option>
                    </select>
                </div>
                <div class="modal-body p-4 form-modal">
                    <form class="form-newtask" name="form_1" id="form_1" style="display:none">
                        <label class="mr-sm-2" for="newtask-select">Information</label>
                        <div class="input-group mb-2 ml-0 col-10">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Name</div>
                            </div>
                            <input type="text" id="name4" class="form-control" />
                        </div>

                        <div class="input-group mb-2 mt-1 col-6">
                            <div class="input-group date mb-2 ml-0" id="datetimepicker10" data-target-input="nearest">
                                <div class="input-group-prepend" data-target="#datetimepicker10" data-toggle="datetimepicker">
                                    <div class="input-group-text">Date</div>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker10"/>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker10').datetimepicker({
                                    viewMode: 'years'
                                });
                            });
                        </script>
                        <div class="form-outline mb-2 mt-1">
                            <label class="form-label" for="textarea4">Description</label>
                            <textarea id="textarea4" rows="4" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            {% endcomment %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="button-upload" class="btn btn-success">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
