{% extends 'main/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
      <h1 id='about_us' class="header">Upload File</h1>
      <div class="description">
        <p>
          Upload file that you would like us to help you check !
        </p>
      </div>
    </div>
    <form action="{% url 'file-upload' %}" enctype="multipart/form-data" method="POST" class="dropzone dz" id="main-dropzone">
        {% csrf_token %}
        <div class="fallback fb">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <button id="button-upload" class="btn btn-success btn-upload">Submit</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</section>
{% endblock %}
