{% extends 'main/layout.html' %} {% block body %}
<section class="about-header-section">
    <div class="text-center mt-4">
      <h1 id='about_us' class="header">Upload File</h1>
      <div class="description">
        <p>
          Upload file that you would like us to help you check !
        </p>
      </div>
    </div>
    <form action="/dropzone-files" id="DidDropzone" class="dropzone dz" accept-charset="UTF-8" method="POST">
        {% csrf_token %}
        <h3 class="dz-message">Click Here or Drop Files</h3>
    </form>  
    <button id="button-upload" class="btn btn-success btn-upload">Submit</button>
</section>
{% endblock %}
